/*EXPERIENCESAMPLER LICENSE
The MIT License (MIT)
Copyright (c) 2014-2015 Sabrina Thai & Elizabeth Page-Gould
Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.*/

{
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#dddddd;
    font-family:Helvetica, Arial, sans-serif;
	text-align:center;
	font-size:16pt;
    height:100%;
    margin:0em;
    padding:0em;
    width:100%;
	color: #000000;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

img {
	max-width: 150px;
	max-height: 170px;
	margin: 10px;
}

button {
	-webkit-tap-highlight-color: #271100;
    color: #FFFFFF;
    background-color:#008BB0;
  	font-weight: bold;
  	font-size:1.0625em;
  	padding: 10px 15px;
  	font-family:Helvetica, Arial, sans-serif;
  	border-radius:4px;
  	border-color:#CECFCB;
  	border-style:solid;
  	width:300px;
  	height:auto;
  	margin-bottom:5px;
}

textarea {
  	font-size:1.00em;
  	font-weight: bold;
  	border-radius: 1px;
  	border-color: #008BB0;
  	border-style: solid;
  	width: 300px;
  	height: 100px;
}

input[type=range] {
	-webkit-appearance: slider-vertical;
	writing-mode: vertical-lr;
	height: 400px;
}

input[type=range]::-webkit-slider-runnable-track {
	height: 400px;
	width: 5px;
	background: #FFFFFF;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;	
	height: 20px;
	width: 20px;
	background: #008BB0;
	border-radius: 50%;
	margin-top: -4px;
	cursor: pointer;	
}

input[type=range]:focus {
	outine:none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #FFFFFF;
}

ul
{
	list-style-type: none;
	padding: 0em;
	margin: 0em;
}

h1 {
    font-size:2.00em;
    font-weight:normal;
    margin:0em;
    overflow:visible;
    padding:0em;
    text-align:center;
}

/*Portrait layout (default)*/
.app {
    /*background-color:#002A5C;*/
    /*position:absolute;*/             /* position in the center of the screen */
    /*left:50%;*/
    /*top:50%;*/
    /*height:50px;*/                   /* text area height */
    /*width:225px;*/                   /* text area width */
    /*text-align:center;*/
    /*padding:180px 0px 0px 0px;*/     /* image height is 200px (bottom 20px are overlapped with text) */
    /*margin:-115px 0px 0px -112px;*/  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0em 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0em 0em -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:1em;
    margin:0em 30px;
    padding:0.125em 0em;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
